/.bundle
/.capistrano
/config/database.yml
/config/options.yml
/config/deploy.rb
/config/deploy/production.rb
/db/*.sqlite3
/db/*.sqlite3-journal
/.bundle
/vendor/bundle
/log/*
!/log/.keep
/.idea
/.sass-cache
.DS_Store
*.log
.rvmrc
*.sublime-project
*.sublime-workspace
