default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: shizoid_dev
test:
  <<: *default
  database: shizoid_test

production:
  <<: *default
  database: shizoid
